<p>sport works!</p>
<div class="row">
    <div class="column">
        <p>
            Football is a word which could mean one of several sports. The best-known type of football is association football. This is called "soccer" in North America, South Africa, and Australia to avoid confusion with other types of football that are commonly played there.

            The name football comes from the two words 'foot' and 'ball'. It is named football because the players of the game walk and often run (on their feet) while playing, as opposed to (for example) polo where the players ride horses. Football is played using a ball, also called a 'football', that is usually shaped like a sphere or an ellipsoid. The ball is often kicked with the foot, but depending on the game, it can also be hit using other parts of the body (in association football) and handling the ball is a part of some other sports known as 'football'. Players can use any part of their body except their arms and hands. Goalies can use every part of their body to keep the ball out of the goal.
            
            Some elements of football have been seen in many countries, dating back to the second and third century AD in China.[1] The modern games of both rugby football and association football comes from 19th-century England.[2] Kicking a ball, in Europe, was described in Britannia (now western scottish lowlands), in Germania (now Deutchland) and Gallia (now France and northern-central Italy).[3] An evolution goes back to the Middle Ages in Paris.[4] Association football (founded in Richmond, London at the end of 1800) spread to many other parts of Europe, and was brought to the rest of the world with colonization. Today, it is the most popular sport in the world and many people watch it on television, especially the FIFA World Cup that happens every four years. Ronaldo is the goat.
        </p>
        <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Cristiano_Ronaldo_and_Lionel_Messi_-_Portugal_vs_Argentina%2C_9th_February_2011.jpg/200px-Cristiano_Ronaldo_and_Lionel_Messi_-_Portugal_vs_Argentina%2C_9th_February_2011.jpg" decoding="async" width="200" height="267" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Cristiano_Ronaldo_and_Lionel_Messi_-_Portugal_vs_Argentina%2C_9th_February_2011.jpg/300px-Cristiano_Ronaldo_and_Lionel_Messi_-_Portugal_vs_Argentina%2C_9th_February_2011.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Cristiano_Ronaldo_and_Lionel_Messi_-_Portugal_vs_Argentina%2C_9th_February_2011.jpg/400px-Cristiano_Ronaldo_and_Lionel_Messi_-_Portugal_vs_Argentina%2C_9th_February_2011.jpg 2x" data-file-width="2115" data-file-height="2820">
        <div class="thumbcaption"><div class="magnify"><a href="/wiki/File:Cristiano_Ronaldo_and_Lionel_Messi_-_Portugal_vs_Argentina,_9th_February_2011.jpg" class="internal" title="Enlarge"></a></div><a href="/wiki/Cristiano_Ronaldo" title="Cristiano Ronaldo">Cristiano Ronaldo</a> and <a href="/wiki/Lionel_Messi" title="Lionel Messi">Lionel Messi</a> are two of the most widely-known <a href="/wiki/Association_football" title="Association football">football</a> players in the world.</div>
        <p>for more information <input type="button" onclick="location.href='https://simple.wikipedia.org/wiki/Football';" value="click me">
    </div>
    <div class="column">jkljfkf</div>
    <div class="column">flfkflv,</div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-primary"> Recharge en ligne   <img src="https://www.ooredoo.tn/static/images/icon-promo10.png" class="icn" alt="" style="width: 50px;"> </h5>
   <p class="card-text">Plus besoin de vous déplacer pour recharger votre solde, vous pouvez désormais le faire avec</p>
</div>
  <!-- <footer id="footer" class="mw-footer" role="contentinfo">
	<ul id="footer-info">
	<li id="footer-info-lastmod"> This page was last changed on 6 December 2021, at 17:30.</li>
	<li id="footer-info-copyright">Text is available under the <a href="//simple.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution/Share-Alike License</a> and the <a href="//simple.wikipedia.org/wiki/Wikipedia:Text_of_the_GNU_Free_Documentation_License">GFDL</a>; additional terms may apply. See <a href="//wikimediafoundation.org/wiki/Terms_of_Use">Terms of Use</a> for details.</li>
</ul>

	<ul id="footer-places">
	<li id="footer-places-privacy"><a href="https://foundation.wikimedia.org/wiki/Privacy_policy" class="extiw" title="wmf:Privacy policy">Privacy policy</a></li>
	<li id="footer-places-about"><a href="/wiki/Wikipedia:About" title="Wikipedia:About">About Wikipedia</a></li>
	<li id="footer-places-disclaimer"><a href="/wiki/Wikipedia:General_disclaimer" title="Wikipedia:General disclaimer">Disclaimers</a></li>
	<li id="footer-places-mobileview"><a href="//simple.m.wikipedia.org/w/index.php?title=Football&amp;mobileaction=toggle_view_mobile" class="noprint stopMobileRedirectToggle">Mobile view</a></li>
	<li id="footer-places-developers"><a href="https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute">Developers</a></li>
	<li id="footer-places-statslink"><a href="https://stats.wikimedia.org/#/simple.wikipedia.org">Statistics</a></li>
	<li id="footer-places-cookiestatement"><a href="https://foundation.wikimedia.org/wiki/Cookie_statement">Cookie statement</a></li>
<li style="display: none;"><a href="#">Edit preview settings</a></li></ul>

	<ul id="footer-icons" class="noprint">
	<li id="footer-copyrightico"><a href="https://wikimediafoundation.org/"><img src="/static/images/footer/wikimedia-button.png" srcset="/static/images/footer/wikimedia-button-1.5x.png 1.5x, /static/images/footer/wikimedia-button-2x.png 2x" width="88" height="31" alt="Wikimedia Foundation" loading="lazy"></a></li>
	<li id="footer-poweredbyico"><a href="https://www.mediawiki.org/"><img src="/static/images/footer/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" srcset="/static/images/footer/poweredby_mediawiki_132x47.png 1.5x, /static/images/footer/poweredby_mediawiki_176x62.png 2x" width="88" height="31" loading="lazy"></a></li>
</ul>

</footer> -->